menu "WiFi Configuration"

    config WIFI_SSID
        string "WiFi SSID"
        default "MY_ROBOT_WIFI"
        help
            SSID (Network Name) of the WiFi network to connect to.

    config WIFI_PASS
        string "WiFi Password"
        default "robot123"
        help
            Password for the WiFi network.

    config MDNS_HOSTNAME
        string "mDNS Hostname"
        default "rcontrol"
        help
            Hostname for mDNS (e.g., if set to 'rcontrol', device will be accessible at rcontrol.local)

endmenu
